@charset "utf-8";
/* CSS Document */

#izq{
	float:left;
	width:600px;
	height:800px;
	background:#FFFFFF;
}
#derech{
	float:right;
	width:200px;
	height:800px;
	background:url(../img/frambuesas.jpg);
	background-position:center;

	background-repeat:no-repeat;
}
h1{
	font-family:Tahoma, Geneva, sans-serif;
	color:#333;
	font-size:25px;
	text-align:center;
	margin:10px 0px;
}
h1:after{
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: #b4e391; /* Old browsers */
background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
} 
h2{
	color:#FF5162;
	text-align:center;
	font-size:27px;
	box-shadow:#FFF 0px 0px 2px 2px;
}
#Factura input{
	font-family:Arial, Helvetica, sans-serif;
	width:130px;
}
#Factura label{
	font-family:Arial, Helvetica, sans-serif;
	margin:10px 10px;
}
iframe{
	margin:10px 10px;
}