	  .errores{
            -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            background: rgb(183,223,45); /* Old browsers */
            background: -moz-linear-gradient(top,  rgba(183,223,45,1) 0%, rgba(248,255,232,1) 13%, rgba(183,223,45,1) 24%, rgba(183,223,45,1) 77%, rgba(248,255,232,1) 87%, rgba(183,223,45,1) 99%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,223,45,1)), color-stop(13%,rgba(248,255,232,1)), color-stop(24%,rgba(183,223,45,1)), color-stop(77%,rgba(183,223,45,1)), color-stop(87%,rgba(248,255,232,1)), color-stop(99%,rgba(183,223,45,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(183,223,45,1) 0%,rgba(248,255,232,1) 13%,rgba(183,223,45,1) 24%,rgba(183,223,45,1) 77%,rgba(248,255,232,1) 87%,rgba(183,223,45,1) 99%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(183,223,45,1) 0%,rgba(248,255,232,1) 13%,rgba(183,223,45,1) 24%,rgba(183,223,45,1) 77%,rgba(248,255,232,1) 87%,rgba(183,223,45,1) 99%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(183,223,45,1) 0%,rgba(248,255,232,1) 13%,rgba(183,223,45,1) 24%,rgba(183,223,45,1) 77%,rgba(248,255,232,1) 87%,rgba(183,223,45,1) 99%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(183,223,45,1) 0%,rgba(248,255,232,1) 13%,rgba(183,223,45,1) 24%,rgba(183,223,45,1) 77%,rgba(248,255,232,1) 87%,rgba(183,223,45,1) 99%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7df2d', endColorstr='#b7df2d',GradientType=0 ); /* IE6-9 */


            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            color: #000;
            display: none;
            margin-top:-30px;
            margin-left:320px;
            padding: 10px;
            position: absolute;
        }