@charset "utf-8";
/* CSS Document */

#izq{
	float:left;
	width:640px;
	height:800px;
	background:#FFF;
}
#caja{
	width:592px;
	height:380px;
	background:#0099CC;
}
#derech{
	float:right;
	width:180px;
	height:800px;
	background:url(../img/C3A2.jpg);
	background-position:center;
	background-size:cover;
	margin:-800px 0px;
}
h2{
	color:#FF6600;
	text-align:right;
	font-size:27px;
	box-shadow:#FFF 0px 0px 2px 2px;
}
#pedidos{
	width: 620px;
	height:200px;
	background:#FFF;
	font-family: "Trebuchet MS", sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:collapse;
	border:solid;
	border-color:#CCC;
	border-width:1px;
	box-shadow: 0 0 2px  2px #FFF;
	text-align:center;
	margin:0px 15px;
}
h1{
	font-family:Tahoma, Geneva, sans-serif;
	color:#333;
	font-size:25px;
	text-align:center;
}
h4{
	margin:10px;
}
th {
	background:#6C0;
	font-size:14px;
 } 
tr{
	height:35px;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
label{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#666666;
	display:inline;
	margin: 0px 5px;
}
input {
	width:98px;
	height:17px;
	border-style:ridge;
}
p{
	text-align:left;
	color:#060;
	margin:10px 10px;
}
#guardar{
	width:70px;
	height:25px;
    background: #f8ffe8; /* Old browsers */
background: -moz-linear-gradient(top,  #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8ffe8), color-stop(33%,#e3f5ab), color-stop(100%,#b7df2d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 ); /* IE6-9 */
border-radius:3px;
border-style:none;
}
h1:after{
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: #b4e391; /* Old browsers */
background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
}
iframe{
	margin: 0px 110px;
}
